# Node / Next.js
node_modules/
.next/
out/
.turbo/
dist/
build/

# Env / secrets
.env*

# Editors / OS
.DS_Store
.idea/
.vscode/

# Logs / coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
coverage/

# Misc
.vercel/
*.local
