@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --c-bg: 255 255 255;
  --c-fg: 17 24 39;
  --c-muted: 243 244 246;
  --c-border: 229 231 235;
  --c-primary: 59 130 246;
  --c-danger: 239 68 68;
}
.dark {
  --c-bg: 17 24 39;
  --c-fg: 248 250 252;
  --c-muted: 31 41 55;
  --c-border: 63 63 70;
  --c-primary: 96 165 250;
  --c-danger: 248 113 113;
}
body { @apply bg-bg text-fg antialiased; }
